body {
                text-align: center;
}
.navbutton {
                
                background-color:silver;
                padding:11px 25px;
                width: 100px;
                text-align: center;
                display: inline-block;
                position: relative;
}
/*this turns the drop-down-menu off when not used */
.drop-down-box {
                text-align: center;
                display: none;
                position: absolute;
                z-index: 10px;
                padding-top: 7px;
                margin-left: -0.82rem;
                
                
                

                
                


}
/*this turns the drop-down-menu on during hover */
.navbutton:hover .drop-down-box {
                display: block;
}
.drop-down-box .navbutton {
                background-color: gold;
}

.drop-down-box .navbutton:hover {
background-color: lightgrey;
transition-duration: 1s;
}